<!DOCTYPE html>
<html lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h2>Witaj {{ name }} {{ surname }}!</h2>
Twoje zamówienie o numerze <b>{{ reference }}</b> jest już w drodze do Ciebie!<br>
Poniżej znajduje się link, pod którym możesz śledzić status swojej przesyłki:<br>
<a target="_blank" href="http://emonitoring.poczta-polska.pl/?numer={{ trackingNumber }}">Link trackingu Poczty Polskiej</a>

<br>Dziękujemy za skorzystanie z naszych usług!<br>
Zapraszamy ponownie w przyszłości.
<br><br>
Pozdrawiam serdecznie,<br>
Albert Ducin

<hr>

P.H.U. Ad9bis<br>
ul. Świerkowa 22,<br>
20-834 - Lublin<br>
(48) 660413844<br>
ad9bis@gmail.com<br>
<img src="http://modele-ad9bis.pl/img/logo.jpg" />
</body>
</html>