{% extends "searchTemplate.html" %}

{% block title %}
	Wyniki ujednolicania produktów<br>
	z zamówienia nr {{ orderDetails.idOrder }}
{% endblock %}

{% block result %}
	<tr class="row1">
		<th>
			Numer ID
		</th>
		<th>
			{{ orderDetails.base }}
		</th>
		<th>
			{{ orderDetails.current }}
		</th>
		<th>
			{{ orderDetails.changed }}
		</th>
		<th>
			Uwagi
		</th>
	</tr>
	{% for results in dates %}
		<tr class="row">
			<td>
				{{ results.product_id }}
			</td>
			<td>
				{{ results.quantity }}
			</td>
			<td>
				{{ results.previousQuantity }}
			</td>
			<td>
				{{ results.finalQuantity }}
			</td>
			<td>	
			{% if results.previousQuantity is sameas(results.finalQuantity) %}
				<div class="normal">
					(równe)
				</div>
			{% else %}
			</td>
		</tr>
			<div class="fieldChanged">
				Zmodyfikowano ilość
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block finish %}
	<p class="finish"><a href="?controller=order">Nowe wyszukiwanie</a></p>
{% endblock %}