{% extends "searchTemplate.html" %}

{% block title %}
	Wyniki wyszukiwania po frazie: {{ phrase }}
{% endblock %}

{% block result %}
	<tr class="row1">
		<th>
			Miniatura (SP)
		</th>
		<th>
			Numer ID
		</th>
		<th>
			Nazwa produktu (NP)
		</th>
		<th>
			Ilość (NP)
		</th>
		<th>
			Cena (NP)
		</th>
		<th>
			Cena (SP)
		</th>
		<th>
			Opcje
		</th>
	</tr>
	<tr>
		{% for results in result %}
			<tr class="row">
				<td class="row-1">
					<img style="border-style: double; border-width: 3px; width: 100px; height: 100px;" src="http://modele-ad9bis.pl/img/p/{{ results.imgNumber }}-thickbox.jpg" />
				</td>
				<td class="row1-2">
					{{ results.id }}
				</td>
				<td class="row1-2">
					{{ results.name }}
					<br>
					{% if not results.result.coherence %}
					<b>
						{{ results.result }} 
					</b>
					{% endif %}
					{% if results.result.coherence %}
					{{ results.result.confirmation }}
					{% endif %}
				</td>
				<td class="row1-2">
					{{ results.quantity }}
				</td>
				<td class="row1-2">
					{% if not results.price %}
					{{ results.priceRed.realPrice }} 
					<br>
					<b> 
						{{ results.priceRed.reduction }} 
					</b>
					{% endif %}
					{% if results.price %}
					{{ results.price }}
					{% endif %}
				</td>
				<td class="row1-2">
					{% if not results.price2 %}
					{{ results.priceRed2.realPrice }} 
					<br>
					<b> 
						{{ results.priceRed2.reduction }} 
					</b>
					{% endif %}
					{% if results.price2 %}
					{{ results.price2 }}
					{% endif %}
				</td>
				<td>
					<div id="option">
						<form action="" method="get">
							<input type="hidden" name="id" value="{{ results.id }}">
							<input type="hidden" name="action" value="shortEdition">
							<input type="submit" class="row1" value="Zmiana obu przez nowy panel"><br>
						</form>
						<form action="" method="get">
							<input type="hidden" name="id" value="{{ results.id }}">
							<input type="hidden" name="action" value="completeEdition">
							<input type="submit" name="fullEditionN" class="row1" id="margin" value="Kompletna edycja w NP">
						</form>
					</div>
				</td>
			</tr>
		{% endfor %}
	</tr>
{% endblock %}

{% block finish %}
	<p class="finish"><a class="searchInput3"  href="?controller=product">Nowe wyszukiwanie produktów</a></p>
{% endblock %}
