{% extends "searchTemplate.html" %}

{% block title %}
	Poinformowanie Klienta o numerze przesyłki
	<h2 class="finish1">- zamówienie nr {{ result.id_order }} ({{ result.firstname }} {{ result.lastname }})</h2>
{% endblock %}

{% block result %}
	<form method="post">
		<tr>
			<td class="rowHeigth">
				Mail zostanie wysłany na adres:
			</td>
			<td class="rowHeigth">
				<input type="text" size="21" class="orderNumber" name="email" value="{{ result.email }}">
			</td>
		</tr>
		<tr>
			<td class="rowHeigth">
				Wpisz numer przesyłki (Poczta Polska):
			</td>
			<td class="rowHeigth">
				<input type="text" size="21" class="orderNumber" name="trackingNumber" style="text-align:left" value="(00)">
			</td>
		</tr>
		<tr>
			<td colspan=2 class="row1">
				<input type="hidden" name="action" value="shipment">
				<input type="hidden" name="idOrder" value="{{ result.id_order }}">
				<input type="hidden" name="reference" value="{{ result.reference }}">
				<input type="hidden" name="name" value="{{ result.firstname }}">
				<input type="hidden" name="surname" value="{{ result.lastname }}">
				<input type="submit" id="searchInput" name="shipmentNumber" value="Wyślij mail">
			</td>
		</tr>
	</form>
{% endblock %}

{% block finish %}
	<p class="finish"><a href="?controller=order">Nowe wyszukiwanie</a></p>
{% endblock %}