<!DOCTYPE html>
<html lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/Ad9bisCMS/assets/styles.css" type="text/css" />
</head>
<body>
<h2>Witaj {{ customerData.firstname }} {{ customerData.lastname }}!
</h2>
Dziękujemy za zamówienie nr <b>{{ customerData.reference }}</b> złożone w sklepie Modele-Ad9bis!<br>
W związku z faktem, iż otrzymaliśmy z serwera Twojej poczty informację o odrzuceniu wysłanych automatycznie wiadomości, poniżej przesyłamy wszelkie dane niezębdne do realizacji ostatniego zamówienia.<br>
Jeśli poprzednie wiadomości zostały skutecznie dostarczone, prosimy o pominięcie niniejszego maila.
<br>
<br>
<fieldset class="fieldset">
<table id="table">
<tr>
	<th class="row">
		Numer ID
	</th>
	<th class="row">
		Nazwa
	</th>
	<th class="row">
		Cena jednostkowa
	</th>
	<th class="row">
		Zniżka
	</th>
	<th class="row">
		Zamówiona ilość
	</th>
	<th class="row">
		Suma
	</th>
</tr>
{% for results in result %}
<tr>
	<td  class="row1">
		{{ results.id }}
	</td>
	<td  class="row1">
		{{ results.name }}
	</td>
	<td  class="row1">
		{{ results.price }}zł
	</td>
	<td  class="row1">
		{% if results.reduction !='0.00' %}
		<div>{{ results.reduction }}zł</div>
		{% else %}
		- -
		{% endif %}
	</td>
	<td  class="row1">
		{{ results.quantity }}
	</td>
	<td  class="row1">
		{{ (results.price*results.quantity)|number_format(2, '.', ',') }}zł
	</td>
	{% endfor %}
	</table>
<table class="fieldChangedCentered">
<tr>
<td>
Suma wszystkich produktów:
</td>
<td>
{{ customerData.total_products }}zł
</td>
</tr>
<tr>
<td>
Suma produktów z wysyłką:
</td>
<td>
{{ customerData.total_paid }}zł
</td>
</tr>
</table>
</fieldset>
<fieldset class="fieldset">
{% if payment=='cashOnDelivery' %}
Wybrałeś płatność przy odbiorze - przesyłka zostanie nadana możliwie szybko na adres przypisany do Twojego konta.
{% elseif payment=='bankwire' %}
Wybrałeś przelew bankowy - prosimy o wpłatę na konto kwoty widocznej w niniejszym mailu.
<br>
<br>
Poniżej przypominamy dane do wpłaty:
<br>
<b><f3 class="finish1">Ad9bis PHU Albert Ducin</f3></b>
<f4 class="finish1">ul. Świerkowa 22</f4> 
<f4 class="finish1">20-834 Lublin,</f4>
<f5 class="finish1">BGŻ BNP Paribas</f5>
<b><f3 class="finish1">23 1600 1462 0008 7807 5754 2001</f3></b>
{% endif %}
{% if cashOnPickup==1 %}
<br>
<br>
Jeżeli chcesz osobiście odebrać produkt, prosimy o uprzedni kontakt mailowy bądź telefoniczny.
{% endif %}
</fieldset>
<br>
<br>
Zapraszamy do korzystania z naszego sklepu w przyszłości!<br><br>
Pozdrawiam serdecznie,<br>
Albert Ducin<br>
----------------------<br>
P.H.U. Ad9bis<br>
ul. Świerkowa 22,<br>
20-834 - Lublin<br>
(48) 660413844<br>
ad9bis@gmail.com<br>
<img src="http://modele-ad9bis.pl/img/logo.jpg" />
</body>
</html>