<!DOCTYPE html>
<html lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Mail z numerem kuponu</title>
</head>
<body>
	<?php 
  $to=$customerData['email']; //'ad9bis@gmail.com';
  $subject= 'Modele-ad9bis - informacja o kuponie rabatowym';
  $message='
<html>
<head>
<meta charset="utf-8">
<title>Kupon rabatowy - Modele-Ad9bis</title>
</head>
<body background-color="grey">
<h2>Witaj '.$customerData['firstname'].' '.$customerData['lastname'].'!</h2>
Dziękujemy za złożenie zamówienia o nr <b>'.($_POST['referenceNumber']).'</b>!<br><br>
Twoje zamówienie spełnia warunki promocji, w związku z czym otrzymujesz kupon rabatowy numer <b>'.($_POST['voucherNumber']).
'</b>.<br>
Pamiętaj, że 6. zamówienie na kwotę powyżej 50zł (bez kosztów wysyłki) nagradzane jest 15% zniżką.<br>
<br>Dziękujemy za skorzystanie z naszych usług!<br>
Zapraszamy ponownie w przyszłości.
<br><br>
Pozdrawiam serdecznie,<br>
Albert Ducin

<hr>

P.H.U. Ad9bis<br>
ul. Świerkowa 22,<br>
20-834 - Lublin<br>
(48) 660413844<br>
ad9bis@gmail.com<br>
<img src="http://modele-ad9bis.pl/img/logo.jpg" />
</body>
</html>
';
$headers  = 'MIME-Version: 1.0' . "\r\n";
$headers .= 'Content-type: text/html; charset=iso-8859-1' . "\r\n";
$headers .= 'From: ad9bis@gmail.com' . "\r\n";
echo'Treść wiadomości:<br>'.$message;
if(mail($to, $subject, $message, $headers)){
  echo 'Wiadomość została wysłana na adres: <b>'.($customerData['email']).'.</b>';
}else{
  echo 'Nie udało się wysłać wiadomości e-mail';
}
?>
</body>
</html>
