body{
	background-color:#aa9997;	
}
.border{
	border: 1px ridge purple;
}
.fieldChanged{
	font-style: italic;border: 3px ridge black;
}
.fieldChangedCentered{
	font-style: italic;border: 3px ridge black; margin-left:380px;
}
.fieldset{
	font-weight:bold;border: 3px ridge purple;margin-bottom:20px;
	background-color:silver; text-align:center;width:1000px;
}
.finish{
	text-align:center;width:1000px;
}
.finish1{
	text-align:center;width:1000px;margin-top:25px;
}
.IDfieldset{
	font-weight:bold;border: 3px ridge purple;margin-bottom:20px;
	background-color:silver; text-align:center;width:1000px;
}
.normal{
	font-weight:normal;
}
.row{
	background-color: #bb6667;
}
.row1000-2px{
	background-color: #bb6667;width:499px;
}
.row1000-3px{
	background-color: #bb6667;width:332px;
}
.row1000-8px{
	background-color: #bb6667;width:115px;
}
.row1{
	background-color: #bb7768;
}
.row2{
	background-color: #bb5447; text-align:right;
}
.selectWidth{
	width:300px;
}
.table{
	text-align:center;
}
.textRight{
	text-align:right;background-color: #bb7767;margin-left:430px;
	padding: 6px;font-size:14px;font-weight:bold;border: 3px ridge  #cd7767;
}
.upperMenu{
	float: left;margin: 0;padding: 0; display: block; list-style: none;
	border: 2px ridge black; text-align:center; width:1027px;
	background-color: #bb9967;font-size: 20px;
}
#button{
	width:550px;margin-left:291px;
}
#h1{
	width:800px;text-align:center;
}
#h1-ID{
	width:1000px;
}
#menuText{
	display: inline;white-space: nowrap;
}
#nameText{
	font-size: 14px;width:540px;background-color:gold;
}
#option{
	padding-top:9px;padding-bottom:9px;
	background-color:#bb5447; text-align:center;
}
#quantityAdd{
	width:50px; margin-left: 165px;
}
#price{
	width:200px;
}
#priceS{
	margin-left: 83px;
}
#priceN{
	margin-left: 83px;
}
#quantity{
	font-weight:bold;margin-left: 187px;
}
#rest{
	text-align: right;
}
#rows{
	font-size: 18px;border: 1px ridge purple; text-align:left;
	background-color:silver;width: 800px;text-align:center;
	margin-left: 100px;
}
#searchInput{
	padding-top: 3px;padding-bottom: 3px;margin-bottom:8px;margin-top:8px;
	padding-left: 10px; font-size:13pt; font-style:italic; padding-right: 12px;
}
#table{
	border: 2px ridge #bb7778; background-color: #bb9998;width:1000px;
}
#title{
	font-size:18pt;font-style:italic;
}