{% extends "editionTemplate.html" %}

{% block css %}
{{ parent() }}
<style type="text/css">
	#fieldset{
		text-align:center;width:1000px;
	}#h1{
		width:1000px;
	}#table{
		border: 2px ridge #bb7778; background-color: #bb9998;width:1000px;
	}#price{
		width:200px;
	}#row{
		background-color: #bb6667;
	}#row1{
		background-color: #bb7768;
	}#option{
		border: 1px ridge black;padding-top:9px;padding-bottom:9px;background-color:black;
		text-align:center;
	}#finish{
		text-align:center;width:1000px;
	}
</style>
{% endblock %}

{% block title %}
Wyniki wyszukiwania produktu nr ID: {{ result1.id_product }}<br>
- informacje z obu paneli.
{% endblock %}

{% block result %}
<table id="table">
	<tr id="row1"><th></th><th>Numer ID</th><th><b>Nazwa produktu</b></th><th>Na stanie</th><th>Cena</th><th>Opcje</th></tr>
	<tr id="row"><td><b>Nowy Panel:</b></td><td><center>{{ result1.id_product }}
	</td><td><center>{{ result1.name }}</td>
	<td><center>{{ result1.quantity }}</td>
	<td id="price"><center>
		{% if not result1.reduct %}
		{{ result1.price }} (bez rabatu)
		{% endif %}
		{% if result1.reduct %}
		{{ result1.reduct.realPrice }}
		<br>{{ result1.reduct.reduction }}
		{% endif %}</td>
		<td><form action="?bothChange" method="get">
			<div id="option">
				<input type="hidden" name="id" value="{{ result1.id_product }}">
				<input type="submit" name="shortEdition" value="Zmiana obu przez nowy panel">
				<input type="submit" name="fullEditionN" value="Kompletna edycja w NP">
			</div>
		</form>
	</td></tr>
	<tr id="row"><td><b>Stary Panel:</b></td><td><center>{{ result2.id_product }}
	</td><td><center>{{ result2.name }}</td>
	<td><center>{{ result2.quantity }}</td>
	<td id="price"><center>
	{% if not result2.reduct %}
		{{ result2.price }} (bez rabatu)
		{% endif %}
		{% if result2.reduct %}
		{{ result2.reduct.realPrice }}<br>
		{{ result2.reduct.reduction }}
		{% endif %}</td>
		<td><form action="?bothChange" method="get">
			<div id="option">
				<input type="hidden" name="id" value="{{ result2.id_product }}">
				<input type="submit" name="fullEditionO" value="Kompletna edycja w SP">
			</div>
		</form>
	</td></tr></table>
	{% endblock %}

	{% block finish %}
	<p id="finish"><a href="?">Nowe wyszukiwanie</a></p>
	{% endblock %}