{% extends "editionTemplate.html" %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block body %}
<body onload="focus('quantityAdd');">
	{% endblock %}

	{% block fieldset %}
	<fieldset class="fieldset">

		{% block title %}
		<h2>Edycja produktu ID: {{ result.id_product }}
		- informacje z nowego panelu.</h2>
		{% endblock %}

		{% block result %}
		<form class="row1" name="form" action="?editformBoth" method="post" onsubmit="showAlert()">
			<div id="rows">
				<label for="text">
					Aktualna nazwa produktu:
				</label>
				<textarea id="nameText" name="text" rows="1" cols="30">{{ result.name }}</textarea>
				<br>
				<table>
					<tr>
						<td>
							<label for="quantity">
								Obecna ilość na sklepie: 
							</label>
						</td>
						<td>
							<div id="quantity">
								{{ result.quantity }}
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="quantity">
								Podaj ilość do zmiany: 
							</label>
						</td>
						<td>
							<input type="text" id="quantityAdd" name="quantity">
						</td>
					</tr>
					<tr>
						<td>
							<label for="priceOld">
								Cena produktu (SP): 
								{{ result.countReduction2 }}
							</label>
						</td>
						<td>
							<input type="text" id="priceS" name="nominalPriceOld" size="15" value="{{ result.price2 }}">
						</td>
					</tr>
					<tr>
						<td>
							<label for="priceNew">
								Cena produktu (NP): 
								{{ result.countReduction }}
							</label>
						</td>
						<td>
							<input type="text" id="priceN" name="nominalPriceNew" size="15" value="{{ result.price }}">
						</td>
					</tr>
				</table>
			</div>
			<div id="button">
				<input type="hidden" name="id" value="{{ result.id_product }}">
				<input type="submit" value="Aktualizuj produkt w obu bazach">
			</div>
			<br>
		</form>
		{% endblock %}
	</fieldset>
{% endblock %}