{% extends "searchTemplate.html" %}

{% block title %}
	Wyniki wyszukiwania produktu nr ID: {{ result1.id_product }}<br>
- informacje z obu paneli.
{% endblock %}

{% block result %}
	<tr class="row1">
		<th>
			Miniatura (SP)
		</th>
		<th>
			Panel
		</th>
		<th>
			Numer ID
		</th>
		<th>
			<b>
				Nazwa produktu
			</b>
		</th>
		<th>
			Na stanie
		</th>
		<th>
			Cena
		</th>
		<th>
			Opcje
		</th>
	</tr>
	<tr>
		<td class="row-1">
		</td>
		<td class="row1-1">
			<b>
				Nowy Panel:
			</b>
		</td>
		<td class="row1-2">
			<center>{{ result1.id_product }}
			</center>
		</td>
		<td class="row1-2">
			<center>{{ result1.name }}
			</center>
		</td>
		<td class="row1-2">
			<center>{{ result1.quantity }}
			</center>
		</td>
		<td id="price" class="row1-2">
			<center>
			{% if not result1.reduct %}
				{{ result1.price }}zł (bez rabatu)
			{% endif %}
			{% if result1.reduct %}
				{{ result1.reduct.realPrice }}
				<br>
				{{ result1.reduct.reduction }}
			{% endif %}
			</center>
		</td>
		<td class="row1-2">
				<div id="option">
				<form action="" method="get">
					<input type="hidden" name="id" value="{{ result1.id_product }}">
					<input type="hidden" name="action" value="shortEdition">
					<input type="submit" class="row1" value="Zmiana obu przez nowy panel">
					</form>
					<form action="" method="get">
					<input type="hidden" name="id" value="{{ result1.id_product }}">
					<input type="hidden" name="action" value="completeEdition">
					<input type="submit" class="row1" name ="linux" value="Kompletna edycja w NP">
				</div>
			</form>
		</td>
	</tr>
	<tr>
		<td class="row-1">
			<img style="border-style: double; border-width: 3px;" src="http://modele-ad9bis.pl/img/p/{{ imageNumber }}-medium.jpg" />
		</td>
		<td class="row1-1">
			<b>
				Stary Panel:
			</b>
		</td>
		<td class="row1-2">
			<center>{{ result2.id_product }}
			</center>
		</td>
		<td class="row1-2">
			<center>{{ result2.name }}
			</center>
		</td>
		<td class="row1-2">
			<center>{{ result2.quantity }}
			</center>
		</td>
		<td id="price" class="row1-2">
			<center>
			{% if not result2.reduct %}
				{{ result2.price }}zł (bez rabatu)
			{% endif %}
			{% if result2.reduct %}
				{{ result2.reduct.realPrice }}
				<br>
				{{ result2.reduct.reduction }}
			{% endif %}
			</center>
		</td>
		<td class="row1-2">
			<form action="" method="get">
				<div id="option2">
					<input type="hidden" name="id" value="{{ result2.id_product }}">
					<input type="hidden" name="action" value="completeEdition">
					<input type="submit" class="row1" name="ogicom" value="Kompletna edycja w SP">
				</div>
			</form>
		</td>
	</tr>
{% endblock %}


{% block finish %}
	<p class="finish"><a class="searchInput3"  href="?controller=product">Nowe wyszukiwanie produktów</a></p>
{% endblock %}