<!DOCTYPE html>
<html lang="pl">
<head>
  <title>{{ title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="ad9bis.ico"/>
</head>
<body>
  {% block sidebar %}
  <div><fieldset class="IDfieldset">
    <div class="row">{{ result }}
    </div>
    <ul> <div id="title">
      {% if message %}
      {% for item in message %}
      <b><big>{{ item }}</big></b><br>
      {% endfor %}
      {% else %}
      <b><big>{{ error }}</big></b><br>
      {% endif %}
    </ul>
    {% endblock %}
  </fieldset>
  </div>
</body>
</html>
