{% block menu %}
<h4>Witamy z systemie CMS Ad9BIS!</h4>
<fieldset class="upperMenu">
	<form method="get">
		<div id="menuText">
			<span class="label-default">Wybierz odpowiednią zakładkę: </span>
			<a class="searchInput2" href="?controller=product">Produkty</a>
			<a class="searchInput2" href="?controller=order">Zamówienia</a>
			<input type="submit" class="searchInput" name="logout" value="Wyloguj" class="textRight">
		</div>
	</form>
</fieldset>
{% if message %}
		{% include 'confirm.html' %}
{% endif %}
{% endblock %}