{% extends "searchTemplate.html" %}

{% block title %}
<h1 class="finish1">Zarządzanie produktami obu sklepów</h1>
{% endblock %}

{% block result %}
	<form action="" method="get">
		<div id="jsonDiv">
			<h2>Wyszukaj konkretny produkt w obu bazach</h2>
		</div>
		<br>
		<tr>
			<td class="row1000-3px">
				<input type="hidden" name="controller" value="product" />
				<label for="idnr">
					Wprowadź numer ID:
		    	</label>
			</td>
			<td class="row1000-3px">
				<input type="text" id="idValue" class="orderNumber" name="idnr" placeholder="Tutaj wpisz numer ID" title="Szybka zmiana - wpisz nr i odkliknij!" onblur="ajax_select_json()">
			</td>
			<td class="row1000-3px">
				<div id="productQuant">
				</div>
				<input type='text' id="fastValue" class="orderNumber" placeholder="Szybka zmiana ilości" title="Wypełnij wcześniej pole 'Numer ID'!" onblur="ajax_update_json()">
			</td>
			<td class="row1000-3px">
				<input type="hidden" name="action" value="idsearch">
				<input id="searchInput2" type="submit" value="Wyszukaj">
			</td>
		</tr>
	</form>
	</table>
	<hr>
	<h2>
		Wyświetl produkty, które spełniają następujące kryteria:
	</h2>
	<form action="" method="get">
		<table class="border">
			<tr>
				<td class="row1000-2px">
					<label for="author">
						Producent produktu:
					</label>
				</td>
				<td class="row1000-2px">
					<select name="author" id="orderNumber" class="selectWidth">
						<option value="">
							Dowolny producent
						</option>
						{% for manufactorer in authors %}
							<option value="{{ manufactorer.id }}">
								{{ manufactorer.name }}
							</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td class="row1000-2px">
					<label for="category">
						Kategoria produktu:
					</label>
				</td>
				<td class="row1000-2px">
					<select name="category" id="categoryNumber" class="selectWidth">
						<option value="">Dowolna kategoria</option>
						{% for category in categories %}
							<option value="{{ category.id }}">
								{{ category.name }}
							</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td class="row1000-2px">
					<label for="text" id="autoSuggest-container">
						Zawierające tekst:
					</label>
				</td>
				<td class="row1000-2px">
					<input type="text" id="autoSuggest" class="orderNumber" name="text" class="selectWidth2" placeholder="Tutaj wpisz frazę do wyszukania" title="Możesz dodać: producent, kategoria"onkeyup="autoSuggestNew();">
				</td>
			</tr>
			<tr>
				<td colspan=2 class="row7">
					<input type="hidden" name="action" value="search">
					<input id="searchInput2" type="submit" value="Wyszukaj">
				</td>
			</tr>
		</table>
	</form>
{% endblock %}

{% block finish %}
	{% if mods %}
		<fieldset class="fieldset">
			<h2>Produkty podmienione</h2>
			<table class="border">
				<tr class="row7">
					<th class="row7">Numer ID</th>
					<th class="row7">
						<b>Nazwa produktu</b>
					</th>
					<th class="row7">Cena</th>
					<th class="row7">Data wpisu</th>
					<th class="row7">Akcja</th>
				</tr>
				{% for modyfied in mods %}
					<tr>
						<td class="row1000-2px2">
							<center>
								{{ modyfied.id }}
							</center>
						</td>
						<td class="row1000-2px2">
							<b>
							<a href="http://ad9bis.vot.pl/tory-h0/{{ modyfied.id }}-cysterna-francuska-primagaz-bttb.html" target="_blank">
							{{ modyfied.nazwa }}</a>
							{% if modyfied.reduction %}
								<h6>Uwaga - sprawdź rabaty produktu!</h6>
							{% endif %}
							</b>
						</td>
						<td class="row1000-8px2">
							<center>
								{{ modyfied.cena }}
							</center>
						</td>
						<td class="row1000-8px2">
							<center>
								{{ modyfied.data }}
							</center>
						</td>
						<td class="row1000-8px2">
							<form action="?action=deleteRow" method="post">
								<input type="hidden" name="idMod" value="{{ modyfied.id }}">
								<input type="submit" id="deleterows" value="Usuń wpis">
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		</fieldset>
	{% elseif message %}
		{% include 'confirm.html' %}
	{% endif %}
{% endblock %}
