<!DOCTYPE html>
<html lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Mail z numerem przesyłki</title>
</head>
<body>
	<a href="http://emonitoring.poczta-polska.pl/?numer=<?php htmlout($_POST['trackingNumber']);?>@"></a>
	<?php 
	$to=/*$_POST['tracking'];*/'ad9bis@gmail.com';
$subject= 'Modele-ad9bis - śledzenie przesyłki';
$message='
<html>
<head>
<meta charset="utf-8">
<title>Śledzenie przesyłki</title>
</head>
<body background-color="grey">
<h2>Witaj '.$_POST['name'].' '.$_POST['surname'].'!</h2>
Twoje zamówienie nr <b>'.$_POST['reference'].'</b> jest już w drodze do Ciebie!<br>
Poniżej znajduje się link, pod którym możesz Sledzić status swojej przesyłki:<br>
<a target="_blank" href="http://emonitoring.poczta-polska.pl/?numer='.$_POST['trackingNumber'].'">Link trackingu Poczty Polskiej</a>

<br>Dziękujemy za skorzystanie z naszych usług!<br>
Zapraszamy ponownie w przyszłości.
<br><br>
Pozdrawiam serdecznie,<br>
Albert Ducin

<hr>

P.H.U. Ad9bis<br>
ul. Świerkowa 22,<br>
20-834 - Lublin<br>
(48) 660413844<br>
ad9bis@gmail.com<br>
<img src="http://modele-ad9bis.pl/img/logo.jpg" />
</body>
</html>
';
$headers  = 'MIME-Version: 1.0' . "\r\n";
$headers .= 'Content-type: text/html; charset=iso-8859-1' . "\r\n";
$headers .= 'From: ad9bis@gmail.com' . "\r\n";
if(mail($to, $subject, $message, $headers))
   {
      echo 'Wiadomość została wysłana na adres: <b>: '.($_POST['tracking']).'.</b>';
   }
  else{
  	echo 'Nie udało się wysłać wiadomości e-mail';
  }
?>
</body>
</html>
