{% extends "searchTemplate.html" %}

{% block title %}
	Szczegóły niedostarczonego potwierdzenia dla zamówienia nr: {{ customerData.ordNumb }}
	<h2>Klient: {{ customerData.firstname }} {{ customerData.lastname }}</h2>
{% endblock %}

{% block result %}
<tr>
	<th class="row">
		Numer ID
	</th>
	<th class="row">
		Nazwa
	</th>
	<th class="row">
		Cena jednostkowa
	</th>
	<th class="row">
		Zniżka
	</th>
	<th class="row">
		Zamówiona ilość
	</th>
	<th class="row">
		Suma
	</th>
</tr>
{% for results in result %}
<tr>
	<td class="row1">
		{{ results.id }}
	</td>
	<td class="row1">
		{{ results.name }}
	</td>
	<td class="row1">
		{{ results.price }}zł
	</td>
	<td class="row1">
		{% if results.reduction !='0.00' %}
		<div class="fieldChanged">{{ results.reduction }}zł</div>
		{% else %}
		- -
		{% endif %}
	</td>
	<td class="row1">
		{{ results.quantity }}
	</td>
	<td class="textLeft">
		{{ (results.price*results.quantity)|number_format(2, '.', ',') }}zł
	</td>
	{% endfor %}
	</table>
<table class="fieldChangedCentered">
<tr>
<td>
Suma wszystkich produktów:
</td>
<td>
{{ customerData.total_products }}zł
</td>
</tr>
<tr>
<td>
Suma produktów z wysyłką:
</td>
<td>
{{ customerData.total_paid }}zł
</td>
</tr>
</table>
<table class="fieldset">
	<tr>
	<td>
	<form method="post">
	<input type="hidden" name="email" value="{{ customerData.email }}">
	<input type="hidden" name="ordNumb" value="{{ customerData.ordNumb }}">
	<input type="hidden" name="paymentOption" value="{{ customerData.payment }}">
	<input type="submit" id="emailAdress" name="sendUndeliveredMessage" value="Prześlij ponowną wiadomość do Klienta">
	</td>
	<td>
	Wiadomość email zostanie wysłana na adres: {{ customerData.email }}
</form>
</td>
</tr>
</table>
{% endblock %}
