<!DOCTYPE html>
<html lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Wyniki wyszukiwania kuponów rabatowych</title>
	<style type="text/css">
		th{
			padding-left:40px; padding-right:40px;
		}
		#sendVoucherMail{
			background-color:#ffffe3;border: 4px ridge black;
		}
		#emailAdress{
			padding-left:40px; padding-right:40px;font-size:13pt;font-style:italic;
		}
	</style>
</head>
<body>
	<fieldset>
		<legend>Wyniki wyszukiwania kuponów rabatowych</legend>
		<center><h2>Klient: <?php $clientName=($customerData['firstname']).' '.($customerData['lastname']);
		htmlout($clientName); ?></h2>
		<?php 
		if($customerSearch==6){
			?><h3>UWAGA - Klient posiada już konto z 3% rabatem na nowym sklepie.</h3><?php
			} ?>
		<table><th>Numer</th><th>ID zamówienia</th><th>Referencja</th><th>Koszt produktów</th><th>Koszt transportu</th><th>Data</th><th>Numer kuponu</th>
			<?php foreach ($custOrders as $Orders):?>
				<tr>
					<td><center><?php htmlout($Orders["orderNumber"]);?></td>
						<td><center><?php htmlout($Orders["id"]); ?></td>
						<td><center><?php htmlout($Orders["reference"]); ?></td>
						<td><center><?php htmlout($Orders["total"]); ?></td>
						<td><center>
							<?php if($Orders["shipping"]!=0){
								htmlout($Orders["shipping"]);
							}else{
								if($Orders["total"]>=250){
								?>Darmowa wysyłka<?php
								}else{?>Odbiór osobisty<?php
							} }?></td>
							<td><center><?php htmlout($Orders["date"]); ?></td>
							<td><center><?php 
								/*if($Orders["orderNumber"]>6){
									$division=$Orders["orderNumber"]/6.01;
									$i=$Orders["orderNumber"];
									while($i > 6){
										$i=$i-(intval($division))*6;
										if($i!=6){
										htmlout($i);
										}else{
											?><b>15% rabat!</b><?php
										}
									}
								}else{
									if($Orders["orderNumber"]==6){
										?><b>15% rabat!</b><?php
									}else{
										htmlout($Orders["orderNumber"]);
									}
								} */
								if($Orders["orderNumber"]<=6){
									$voucherNumber=$Orders["orderNumber"];
									if($Orders['orderNumber']!=6){
										htmlout($Orders["orderNumber"]);
									}else{
										?><b>15% rabat!</b><?php
									}
								}else{
									 $voucherNumber=((($Orders["orderNumber"]-1) % 6) + 1 );
									 if($voucherNumber!=6){
									 	htmlout($voucherNumber);
									 }else{
									 	?><b>15% rabat!</b><?php
									 }
								}
								?></td>
							<?php endforeach; ?>
						</table><div id="sendVoucherMail">
						<form method="post">
	<input type="hidden" name="voucherNumber" value="<?php htmlout($voucherNumber); ?>">
	<input type="hidden" name="customerNumber" value="<?php htmlout($orderSearch['id_customer']); ?>">
	<input type="hidden" name="referenceNumber" value="<?php htmlout($Orders["reference"]); ?>">
	<input type="submit" id="emailAdress" name="sendMessage" value="Poinformuj Klienta o ostatnim kuponie">
	Wiadomość email zostanie wysłana na adres: <?php htmlout($customerData['email']); ?>
</form></div>
</fieldset>
</body>